.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
}

.header{
  background-color: #FF7F3F;
  height: 41px;
  text-align: center;
}

.header h3{
  padding: 10px;
}

.aside{
  display: flex;
}

.aside1{
  background-color: #FFCA03;
  width: 30%;
  text-align: center;
}

.para{
  background-color: #00A8CC;
  width: 70%;
  padding: 9px;
}

.footer{
  background-color: #A8DF65;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 10px;
}

