*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #aaa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 100px;
}

h1{
  font-size: 50px;
  color: #750550;
}

h2{
  margin: 0 50px;
  font-size: 50px;
}

button{
  width: 150px;
  height: 50px;
  outline: none;
  border-style: none;
  font-size: 50px;
  background-color: #bababa;
  box-shadow: 10px 10px;
  cursor: pointer;
}

button:hover{
  background-color: dodgerblue;
  color: #ff0000;
  border-color: #000;
}